In [1]:
import pandas as pd
import numpy as np

# Create a DataFrame from Lists oR list of lists

In [2]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

# Create a DataFrame from Dict of ndarrays / Lists

In [5]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

# Create a DataFrame from List of Dicts

In [6]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20,'d':23 }]
df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

# The following example shows how to create a DataFrame with a list of dictionaries, row indices, and column indices.

In [15]:

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20},{'c': 5, 'b': 10}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, columns=['a', 'b','c'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, columns=['a', 'b1'])
print(df1)
df2

     a   b     c
0  1.0   2   NaN
1  5.0  10  20.0
2  NaN  10   5.0

     a  b1
0  1.0 NaN
1  5.0 NaN
2  NaN NaN

# Dictionary