In [1]:
# Data Preprocessing Template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
# Importing the dataset
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [21]:
print(y)

['Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

numpy.ndarray

In [13]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print(X_train,y_train)

   Country   Age   Salary
4  Germany  40.0      NaN
9   France  37.0  67000.0
1    Spain  27.0  48000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
3    Spain  38.0  61000.0
0   France  44.0  72000.0
5   France  35.0  58000.0 ['Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'Yes']

In [14]:
import pandas as pd
df = pd.DataFrame({'Quarter':'q1 q2 q3 q4'.split(), 'Year':'2000'})

In [5]:
df

  Quarter  Year
0      q1  2000
1      q2  2000
2      q3  2000
3      q4  2000

In [6]:
df['Period'] = df['Year'] + df['Quarter']

In [7]:
df

  Quarter  Year  Period
0      q1  2000  2000q1
1      q2  2000  2000q2
2      q3  2000  2000q3
3      q4  2000  2000q4